@font-face {
    font-family: IRANYekan;
    src: url(../fonts/Qs_Iranyekan.ttf);
}

* {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #999999;
    font-family: IRANYekan, sans-serif, Tahoma;
    font-size: 0.95rem;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}

button {
    cursor: pointer;
}

.text-dark {
    color: #62666D;
}

.text-pink {
    color: #fe5576;
}

.text-green {
    color: #008c99;
}

.text-blue {
    color: #0060ff;
}

.text-orange {
    color: #ffc000;
}

.text-gold {
    color: #d9a400;
}

.text-dark-orange {
    color: #ffa056;
}

.text-light-blue {
    color: #4ca9ff;
}

.text-purple {
    color: #911265;
}

.text-dark-blue {
    color: #0052d9;
}

.text-light-pink {
    color: #ff89a0;
}

.text-bold {
    font-weight: 700;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-18 {
    font-size: 18px;
}

.bg-white {
    background-color: white;
}

.bg-light-gray {
    background-color: #F9F9F9;
}

.width-100 {
    width: 100%;
}

.dis-flex {
    display: flex;
}

.dis-none {
    display: none;
}

.dis-block {
    display: block;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.align-center {
    align-items: center;
}

.gap--5 {
    gap: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

header {
    position: relative;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    position: sticky;
    top: 0;
    z-index: 1;
}

#search-box {
    padding: .8rem;
    max-width: 980px;
    margin: 0 auto;
}

#search-box div {
    background-color: RGB(239, 240, 241);
    border-radius: 5px;
    width: 100%;
}

#search-box div button:first-child {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box div button:last-child {
    padding: 0 1rem;
    font-size: 12px;
}

#search-box div input {
    width: calc(100% - 151.02px);
}

#search-box div input:focus {
    outline: none;
}

#search-box i {
    font-size: 19px;
}

#search-box>button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    padding-bottom: 100px;
    z-index: 2;
}

#mobile-menu * {
    color: #030A17;
}

#mobile-menu div:first-child {
    position: relative;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    padding: 1rem;
}

#mobile-menu div:first-child button {
    display: flex;
    align-items: center;
    gap: .7rem;
}

#mobile-menu div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 17px;
    background-color: RGB(239, 240, 241);
}

#mobile-menu div:nth-child(2) i {
    font-size: 55px;
    color: #999999;
}

.blue-button {
    border: 1px solid #0084FF;
    border-radius: 100px;
    padding: 6px 13px;
    color: #0084FF !important;
}

#mobile-menu li {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #99999921;
}


/* category section /---------------------------------------------------------- */

#category {
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

#category a {
    display: flex;
    flex-direction: column;
    gap: 6.5px;
    align-items: center;
    width: min-content;
}

#category a i {
    width: 62.38px;
    height: 62.38px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 6px 0 rgb(3 10 22 / 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#category a span {
    font-size: 9.6px;
    text-align: center;
}

#category>div {
    display: flex;
    justify-content: space-around;
}

#category-scroll {
    width: 100%;
    overflow-x: auto;
    height: 50px;
    background-color: #fff;
    padding: 0 .3rem;
    gap: .5rem;
    align-items: flex-start;
    position: sticky;
    top: 79.5px;
    left: 0;
    transition: all 3s ease-in-out;
}

#category-scroll::-webkit-scrollbar {
    height: 10px;
    visibility: hidden;
}

#category-scroll::-webkit-scrollbar:hover,
#category-scroll::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}

#category-scroll::-webkit-scrollbar-thumb {
    background-color: #9a9b9e;
    height: 10px;
    border-radius: 100px;
    visibility: hidden;
}


/* #category-scroll::-webkit-scrollbar {}

#category-scroll::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #0052d9;
} */

#category-scroll a {
    margin-top: .3rem;
    display: flex;
    padding: 0 1rem;
    border: 1px solid #d0d1d3;
    height: 35px;
    align-items: center;
    gap: .7rem;
    border-radius: 6px;
}

#category-scroll a span {
    font-size: 12px;
}

#category-scroll a i {
    font-size: 16px;
}


/* toggle buttons /---------------------------------------------- */

#toggle-btn {
    width: 97%;
    height: 50px;
    position: sticky;
    top: 140px;
    left: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 10%);
    display: flex;
    margin: 0 auto;
}

#toggle-btn button {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    font-size: 13px;
}

.selected {
    background-color: #E5F2FE;
    color: #03ACED;
}


/* horzintal container /------------------------------ */

#horzintal-container {
    width: 100%;
    overflow-x: scroll;
    height: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #EFF0F1;
    gap: 1rem;
    padding: 12.8px 0;
    align-items: flex-start;
}

#horzintal-container>div:first-child {
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 0;
    align-items: flex-start;
}

#horzintal-container>div:first-child i {
    font-size: 40px;
}

#horzintal-container>div:first-child p {
    line-height: 16px;
}

#horzintal-container>div:first-child h3 {
    color: #000;
}

#horzintal-container>div:first-child a {
    margin: 0 auto;
}

#horzintal-container::-webkit-scrollbar {
    height: 10px;
    visibility: hidden;
}

#horzintal-container::-webkit-scrollbar:hover,
#horzintal-container::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}

#horzintal-container::-webkit-scrollbar-thumb {
    background-color: #9a9b9e;
    height: 10px;
    border-radius: 100px;
    visibility: hidden;
}


/* ---------------------------------------------------------- */

.content-box {
    display: flex;
    width: 156px;
    height: 100%;
    flex-direction: column;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    gap: .7rem;
}

.content-box * {
    font-size: 12px;
    line-height: 20px;
}

.content-box>div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: start;
}

.content-box>div a {
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: #000;
    font-weight: 500;
}

.content-box>div span {
    margin-top: .4rem;
}

.content-box>div span b {
    color: #000;
}

.fa-truck-fast {
    color: #0084FF !important;
}

.content-box>div div {
    display: flex;
    align-items: center;
    padding: .1rem .3rem;
    background-color: #e5f2fe;
    color: #0084FF;
    font-weight: 700;
    gap: .6rem;
    border-radius: 5px;
}

.content-box>div div i {
    font-size: 15px;
}

.content-box>div p {
    overflow: clip;
    width: 100%;
    height: 16.8px;
    display: flex;
}

.content-box img {
    width: 100%;
    border-radius: 5px;
}


/* main container ---------------------------------- */

#main-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .6rem
}

.main-content-box {
    display: flex;
    gap: 1rem;
    padding: .5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    flex: 1 1 250px;
}

.main-content-box img {
    width: 35vw;
    height: 35vw;
    border-radius: 5px;
}

.main-content-box>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}